.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.Hotbg {
    position: absolute;
    top: 88px;
    right: 20px;
    transform: translateY(-50%);
    background: #2f3640;
    height: 60px;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    
}

.Hotbg:hover > .Hotbg-txt {
    width: 240px;
    padding: 0 6px;
}

.Hotbg:hover > .Hotbg-btn {
    background: azure;
    color: black;
}

.Hotbg-btn {
    color: #e84118;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: azure;
    cursor: pointer;
}

.Hotbg-btn > i {
    font-size: 30px;
}

a {
    text-decoration: none;
}

.Hotbg-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: azure;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}

.Logo {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: top;
    align-items: left;
    margin-top: -80px;
}

.insta, .tiktok, .linkedin, .facebook { 
    width: 50px;
    height: 50px;
}

.header-row {

    display:flex;
    justify-content: center;
    align-items: flex-start;

    background-color: #898989;
    padding: 0;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
}

.square {

    width: 250px;
    margin: 15px;
    background-color: #fafdf3;
    display: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-grow: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #898989;
    color: #333;
}


h1 {
    font-size: 2.5em;
    color: #000000;
    justify-content: left;
    display: flex;
    margin-left: 250px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #000000;

}
main{
    padding: 20px;
}
main h2 {
    justify-content: center;
    display: flex;
}


p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
}


body.dark-mode .header-row {
    background: rgb(97,95,96);
    background: radial-gradient(circle, rgba(97,95,96,1) 0%, rgba(0,0,0,1) 100%);
    border-bottom: 5px solid yellow; 
}

body.dark-mode {
    background: rgb(97,95,96);
    background: radial-gradient(circle, rgba(97,95,96,1) 20%, rgba(0,0,0,1) 100%);
}

.dark {
    width: 250px;
    margin: 15px;
    background-color: #fafdf3;
    display: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


body.dark-mode main {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode h1 {
    color: #e3e3e3;
}

body.dark-mode h2 {
    color: #cccccc;
}

body.dark-mode p {
    color: #dddddd;
}

body.dark-mode img {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .dark {
    background: rgb(41, 40, 41);
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}
body.dark-mode .dark .link {
    color: #fff;
}

body.dark-mode .square {
    background: rgb(41, 40, 41);
    color: white; 
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .square a h2 {
    color: white;
}

body.dark-mode .square.dark a {
    color: white;
}

.square:hover {
    transform: scale(1.10);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    background-color: #d3d0c4;
}

.link {
    text-decoration: none;
    color: black;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}


.btn-login {
    background-color: #c7c5c5;
    cursor: pointer;
}
.btn-signup {
    background-color: #c7c5c5;
    cursor: pointer;
}
.forms-section {
    top: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-title {
	font-size: 32px;
	letter-spacing: 1px;
	color: #0e0000;
}

.forms {
	display: flex;
	align-items: flex-start;
	margin-top: 30px;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

.switcher {
	position: relative;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 16px;
	letter-spacing: .5px;
	color: #ffffff;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(0);
	transition: all .3s ease-out;
}

.form-wrapper.is-active .switcher-login {
	color: #fff;
	transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
	color: #fff;
	transform: translateX(-90px);
}

.underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}

.form {
	overflow: hidden;
	min-width: 260px;
	margin-top: 50px;
	padding: 30px 25px;
	border-radius: 5px;
	transform-origin: top;
	background: white;
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background-color: #fafdf3;
		transform: translate(35%, -20px);
	}
}

@keyframes hideLogin {
	0% {
		background-color: #898989;
		transform: translate(35%, -20px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background: rgb(202, 203, 207);
		transform: translate(40%, 10px);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
	0% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background-color: #fafdf3;
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: #898989;
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background: rgb(202, 203, 207);
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}

.form-signup fieldset {
	transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.input-block {
	margin-bottom: 20px;
}

.input-block label {
	font-size: 14px;
	color: #a1b4b4;
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
	background: #eef9fe;
	border: 1px solid #cddbef;
	border-radius: 2px;
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
	margin: 30px auto 10px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}


@media (max-width: 768px) {
 

}
