.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures space between elements */
    padding: 10px;
}


.Hotbg {
    position: absolute;
    top: 88px;
    right: 20px;
    transform: translateY(-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    
}

.Hotbg:hover > .Hotbg-txt {
    width: 240px;
    padding: 0 6px;
}

.Hotbg:hover > .Hotbg-btn {
    background: azure;
    color: black;
}

.Hotbg-btn {
    color: #e84118;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: azure;
    cursor: pointer;
}

.Hotbg-btn > i {
    font-size: 30px;
}

a {
    text-decoration: none;
}

.Hotbg-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: azure;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}

.Logo {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: top;
    align-items: left;
    margin-top: -80px;
}

.insta, .tiktok, .linkedin, .facebook { 
    width: 50px;
    height: 50px;
}

.header-row {

    display:flex;
    justify-content: center;
    align-items: flex-start;

    background-color: #898989;

    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
}

.square {

    width: 250px;
    margin: 15px;
    background-color: #fafdf3;
    display: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-grow: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #898989;
    color: #333;
}

main {
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    color: #000000;
    justify-content: left;
    display: flex;
    margin-left: 250px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #000000;

}
main h2 {
    justify-content: center;
    display: flex;
}


p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
}


aside {
    background-color: #F2D1A8;
    padding: 15px;
    margin: 35px;
    border-radius: 10px;
}

aside h2 {
    color: black;
}
body.dark-mode .header-row {
    background: rgb(97,95,96);
    background: radial-gradient(circle, rgba(97,95,96,1) 0%, rgba(0,0,0,1) 100%);
    border-bottom: 5px solid yellow; 
}

.footer {
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    text-align: center;
}

.footer p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

body.dark-mode .footer {
    background-color: #1e1e1e;
    color: #f0f0f0;
}

body.dark-mode {
    background: rgb(97,95,96);
    background: radial-gradient(circle, rgba(97,95,96,1) 20%, rgba(0,0,0,1) 100%);
}

.dark {
    width: 250px;
    margin: 15px;
    background-color: #fafdf3;
    display: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


body.dark-mode main {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode h1 {
    color: #e3e3e3;
}

body.dark-mode h2 {
    color: #cccccc;
}

body.dark-mode p {
    color: #dddddd;
}

body.dark-mode img {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode aside {
    background-color: #2a2a2a;
    border-left: 5px solid #444;
    color: #dddddd;
}

body.dark-mode .dark {
    background: rgb(41, 40, 41);
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}
body.dark-mode .dark .link {
    color: #fff;
}

body.dark-mode .square {
    background: rgb(41, 40, 41);
    color: white; 
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .square a h2 {
    color: white;
}

body.dark-mode .dropdown-content {
    background-color: rgb(41, 40, 41);
}

body.dark-mode .dropdown-content a {
    color: white;
}

body.dark-mode .dropdown-content a:hover {
    background-color: #555;
}

body.dark-mode .square.dark a {
    color: white;
}

.square:hover {
    transform: scale(1.10);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    background-color: #d3d0c4;
}

.link {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: none;
    flex-wrap: wrap;
    padding: 20px;
}

.box {
    width: 30%; 
    margin: 15px;
    background-color: #fafdf3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-grow: 1;
    min-height: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.box img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.box h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.box p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    flex-grow: 1;
}

.box button {
    padding: 8px 16px;
    background-color: #f8e6a4;
    border: none;
    color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    border-color: #000;
}

.box button:hover {
    background-color: #d3c48c;
}

.special-box {
    width: 500px;
    max-width: 100%; 
    margin: 15px auto; 
    flex: 0 0 auto; 
}

body.dark-mode .container {
    background-color: #1e1e1e;
}

body.dark-mode .box {
    background-color: rgb(51, 50, 50);
    color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .box:hover {
    box-shadow: 0 6px 16px rgba(255, 255, 255, 0.2);
}

body.dark-mode .box h3 {
    color: #f0f0f0;
}

body.dark-mode .box p {
    color: #cccccc;
}

body.dark-mode .box button {
    background-color: #444;
    color: yellow;
}

body.dark-mode .box button:hover {
    background-color: yellow;
    color: #000;
}

.dropdown:hover .dropbtn {
    background-color: #f0f0f0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8e6a4;;
    min-width: 250px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 4%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e0d095;;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #F2D1A8;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #000;
}

body.dark-mode .modal-content {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

body.dark-mode .close {
    color: #ccc;
}

body.dark-mode .close:hover {
    color: #fff; 
}

.mobile-menu {
    display: none;
}

.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .header-row > .square {
        display: none;
    }
    .mobile-menu {
        display: none;
        position: absolute;
        background-color: #ebcba5; 
        top: 80px;
        width: 100%;
        z-index: 10;
    }
    .mobile-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .mobile-menu ul li {
        text-align: center;
        padding: 1rem;
        border-bottom: 1px solid #444;
    }
    .mobile-menu ul li a {
        font-family: Arial, sans-serif;
        text-decoration: none;
        color: rgb(0, 0, 0);
        display: block;
    }
    .mobile-menu ul li a:hover {
        background-color: #bea587;
    }
    .mobile-menu.active {
        display: block;
    }
    .dark-mode .mobile-menu {
        background-color: #333; 
        border-bottom: 1px solid #444;
    }

    .dark-mode .mobile-menu ul li a {
        color: #fff; 
    }

    .dark-mode .mobile-menu ul li {
        border-bottom: 1px solid #555;
    }

    .dark-mode .mobile-menu ul li a:hover {
        background-color: #555;
        color: #fff; 
    }
    .mobile-menu .dropdown {
        display: none;
        padding: 0; 
        margin: 0; 
        list-style: none;
    }

    .mobile-menu .dropdown li {
        text-align: left; 
        padding: 0.5rem 1rem; 
        border-bottom: 1px solid #444;
    }

    .mobile-menu .dropdown li a {
        color: rgb(0, 0, 0);
    }

    .dark-mode .mobile-menu .dropdown li a {
        color: #fff;
    }
    .mobile-menu .dropdown.active {
        display: block;
    }

    .container {
        flex-direction: column;
    }

}
