.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.Hotbg {
    position: absolute;
    top: 88px;
    right: 20px;
    transform: translateY(-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    
}

.Hotbg:hover > .Hotbg-txt {
    width: 240px;
    padding: 0 6px;
}

.Hotbg:hover > .Hotbg-btn {
    background: azure;
    color: black;
}

.Hotbg-btn {
    color: #e84118;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: azure;
    cursor: pointer;
}

.Hotbg-btn > i {
    font-size: 30px;
}

a {
    text-decoration: none;
}

.Hotbg-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: azure;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}

.Logo {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: top;
    align-items: left;
    margin-top: -80px;
}

.insta, .tiktok, .linkedin, .facebook { 
    width: 50px;
    height: 50px;
}

.header-row {

    display:flex;
    justify-content: center;
    align-items: flex-start;

    background-color: #898989;

    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
}

.square {

    width: 250px;
    margin: 15px;
    background-color: #fafdf3;
    display: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-grow: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #898989;
    color: #333;
}

main {
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    color: #000000;
    justify-content: left;
    display: flex;
    margin-left: 250px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #000000;

}
main h2 {
    justify-content: center;
    display: flex;
}


p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
}


body.dark-mode .header-row {
    background: rgb(97,95,96);
    background: radial-gradient(circle, rgba(97,95,96,1) 0%, rgba(0,0,0,1) 100%);
    border-bottom: 5px solid yellow; 
}

body.dark-mode {
    background: rgb(97,95,96);
    background: radial-gradient(circle, rgba(97,95,96,1) 20%, rgba(0,0,0,1) 100%);
}

.dark {
    width: 250px;
    margin: 15px;
    background-color: #fafdf3;
    display: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


body.dark-mode main {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode h1 {
    color: #e3e3e3;
}

body.dark-mode h2 {
    color: #cccccc;
}

body.dark-mode p {
    color: #dddddd;
}

body.dark-mode img {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .dark {
    background: rgb(41, 40, 41);
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}
body.dark-mode .dark .link {
    color: #fff;
}

body.dark-mode .square {
    background: rgb(41, 40, 41);
    color: white; 
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .square a h2 {
    color: white;
}

body.dark-mode .square.dark a {
    color: white;
}

.square:hover {
    transform: scale(1.10);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    background-color: #d3d0c4;
}

.link {
    text-decoration: none;
    color: black;
}


@media (max-width: 768px) {
 

}
